<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Maintain First Page Category</h1>
</div>
<div class="wrapper-md" >
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Category information</div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label>ID</label>
              <input type="text" class="form-control" placeholder="Table ID" ng-model="mySelections[0].id">
            </div>
            <div class="form-group">
              <label>Category Name</label>
              <input type="text" class="form-control" placeholder="Category Name" ng-model="mySelections[0].name">
            </div>
             <div class="form-group">
	            <label>Editable  </label>
	          	<label class="i-switch m-t-xs m-r">
	            	<input type="checkbox" checked>
	            	<i></i>
	          	</label>
          	</div>
            <button type="submit" class="btn btn-sm btn-primary" ng-click = "submit()">Submit</button>
            <button type="submit" class="btn btn-sm btn-primary" ng-click = "removeInfo()">Remove</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="wrapper-md" >
  <div class="panel panel-default">
    <div class="panel-heading">
      First page category
    </div>
    <div class="table-responsive">
      <div ng-grid="gridOptions" style="min-height:420px"></div>
    </div>
  </div>
</div>